/* src/App.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: poppins, sans-serif;
}

.quiz-container {
  /* text-align: center; */
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.quizBtn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  background-color: rgb(173, 175, 247);
  border-radius: 5px;
}

.options {
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}

button[disabled] {
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.home-container {
  /* border: 2px solid black; */
  height: 88vh;
}

.vocab-container {
  padding-left: 20px;
  padding-right: 20px;
}

.vocab-list {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  padding: 12px 10px 1px 10px;  /* top right bottom left */
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  line-height: 1;
}

.vocab-list .vocab {
  font-weight: 600;
  font-size: 22px;
}

.vocab-list .meaning {
  color: grey;
}

/* Search Button */

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 15px;
}

.search-box {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  width: 100%;
}

.search-box::placeholder {
  color: #aaa;
}

.search-button {
  background: none;
  border: none;
  color: #555;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.search-button:hover {
  background: #eee;
}

/* View Component CSS */
.view-container {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.view-container span {
  font-size: 22px;
}

.view-nav {
  display: flex;
  justify-content: end;
  gap: 22px;
  font-size: 30px;
}

.spinner-border {
  margin-top: 50%;
  margin-left: 40%;
  width: 4rem; /* Set the desired width */
  height: 4rem; /* Match the height to maintain a circular shape */
  border-width: 0.5em;
}

.link-btn-container {
  position: absolute;
  bottom: 15px;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link-btn {
  width: 50px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}